:root {
  --mainBlue:#000000;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#b6fbff;
}

body {
  font-family: 'Oswald', Courier, monospace !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: 'Playfair Display';
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
.btn-black { 
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark)!important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: #00B4DB;
}

.mainBackground {
  padding-top: 50px;
  background: linear-gradient(132deg, #182b7e, #066d5c);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;
}
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.popOut {
  font-family: 'Pacifico', cursive;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bannerProps {
  padding: 150px !important;
}

.card {
  bottom: 0px;
  transition: all 0.2s ease-in-out !important;
}
.card:hover, .card:active {
  box-shadow: -1px 8px 11px -1px rgba(0,0,0,0.13);    
  bottom: 3px !important;
}

.bannerCard {
  box-shadow: -1px 8px 20px 3px rgba(0, 0, 0, 0.13) !important;    
  bottom: 3px !important;
  background: #f3f3f3 !important;
  margin-top: 25px !important;
}
.navTop {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  position: fixed;
  z-index: 101;
  margin: 0;
}